.background-color {
  color: #fcfcfc;
}

.background-bg {
  background-color: #fcfcfc;
}

.primary-color {
  color: #5a9692;
}

.primary-bg {
  background-color: #5a9692;
}

.secondary-color {
  color: #82bdc5;
}

.secondary-bg {
  background-color: #82bdc5;
}

.tertiary-color {
  color: #9aac49;
}

.tertiary-bg {
  background-color: #9aac49;
}

.success-color {
  color: #33a15b;
}

.success-bg {
  background-color: #33a15b;
}

.danger-color {
  color: #e55b58;
}

.danger-bg {
  background-color: #e55b58;
}

.warning-color {
  color: #d9b514;
}

.warning-bg {
  background-color: #d9b514;
}

.info-color {
  color: #44a0c5;
}

.info-bg {
  background-color: #44a0c5;
}

.grid {
  margin: 0 auto;
  width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

@media screen and (min-width: 61.25rem) {
  .grid {
    max-width: 61.25rem;
  }
}

.row {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.row::before, .row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

.column {
  float: left;
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

@media screen and (min-width: 0) {
  .small-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 0) {
  .small-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 0) {
  .small-3 {
    width: 25%;
  }
}

@media screen and (min-width: 0) {
  .small-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 0) {
  .small-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 0) {
  .small-6 {
    width: 50%;
  }
}

@media screen and (min-width: 0) {
  .small-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 0) {
  .small-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 0) {
  .small-9 {
    width: 75%;
  }
}

@media screen and (min-width: 0) {
  .small-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 0) {
  .small-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 0) {
  .small-12 {
    width: 100%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-3 {
    width: 25%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-6 {
    width: 50%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-9 {
    width: 75%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 40rem) {
  .medium-12 {
    width: 100%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-3 {
    width: 25%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-6 {
    width: 50%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-9 {
    width: 75%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 61.25rem) {
  .large-12 {
    width: 100%;
  }
}

html {
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #5a9692;
  transition: all .3s;
}

a:hover {
  color: #4d807c;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

@font-face {
  font-family: 'BebasNeue';
  src: url("/static/font/BebasNeue.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LondrinaSolid';
  src: url("/static/font/LondrinaSolid-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("/static/font/icomoon.eot?lyw9g2");
  src: url("/static/font/icomoon.eot?lyw9g2#iefix") format("embedded-opentype"), url("/static/font/icomoon.ttf?lyw9g2") format("truetype"), url("/static/font/icomoon.woff?lyw9g2") format("woff"), url("/static/font/icomoon.svg?lyw9g2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.button {
  outline: 0;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 0.0625rem solid transparent;
  color: #fff;
  font-family: LondrinaSolid, Arial, Helvetica, Roboto, sans-serif;
  font-size: 0.875rem;
  padding: 0.625rem 0.75rem;
  border-radius: 0.375rem;
}

.button.background {
  background-color: #fcfcfc;
}

.button.background:hover {
  background-color: #d6d6d6;
}

.button.primary {
  background-color: #5a9692;
}

.button.primary:hover {
  background-color: #4d807c;
}

.button.secondary {
  background-color: #82bdc5;
}

.button.secondary:hover {
  background-color: #60abb5;
}

.button.tertiary {
  background-color: #9aac49;
}

.button.tertiary:hover {
  background-color: #83923e;
}

.button.success {
  background-color: #33a15b;
}

.button.success:hover {
  background-color: #2b894d;
}

.button.danger {
  background-color: #e55b58;
}

.button.danger:hover {
  background-color: #df332f;
}

.button.warning {
  background-color: #d9b514;
}

.button.warning:hover {
  background-color: #b89a11;
}

.button.info {
  background-color: #44a0c5;
}

.button.info:hover {
  background-color: #358aac;
}

.button.small {
  font-size: 0.75rem;
  padding: 0.375rem 0.5625rem;
}

.button.medium {
  font-size: 0.875rem;
  padding: 0.625rem 0.75rem;
}

.button.large {
  font-size: 1.125rem;
  padding: 0.625rem 0.75rem;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-flask:before {
  content: "\e902";
}

.icon-forrst:before {
  content: "\e903";
}

.icon-game:before {
  content: "\e904";
}

.icon-heart:before {
  content: "\e905";
}

.icon-linkedin:before {
  content: "\e906";
}

.icon-phone:before {
  content: "\e907";
}

.icon-tools:before {
  content: "\e908";
}

.icon-twitter:before {
  content: "\e909";
}

.icon-twitter-2:before {
  content: "\e90a";
}

.icon-menu:before {
  content: "\e90b";
}

body {
  margin: 0;
  font-family: Arial, Helvetica, Roboto, sans-serif;
  min-width: 20rem;
  background: #82bdc5;
}

body #mobile-navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  transition: all .3s linear;
  min-width: 20rem;
}

body #mobile-navigation > div {
  position: relative;
  width: 100%;
  height: 100%;
}

body #mobile-navigation > div .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
}

body #mobile-navigation > div ul {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  min-width: 17.5rem;
  height: 100%;
  background: #fcfcfc;
}

body #mobile-navigation > div ul li {
  display: block;
  float: none;
}

body #mobile-navigation > div ul li a {
  display: block;
  padding: 0.75rem 1.125rem;
  color: #5a9692;
  font-family: BebasNeue, Arial, Helvetica, Roboto, sans-serif;
  font-size: 1.375rem;
}

body #mobile-navigation > div ul li a:hover {
  background: #5a9692;
  color: #fff;
}

body.open-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body.open-menu #mobile-navigation {
  left: 0;
  opacity: 1;
}

body.open-menu #mobile-navigation > div .overlay {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  float: left;
}

a {
  text-decoration: none;
}

#page-inner {
  min-width: 20rem;
  position: relative;
  z-index: 1;
}

#page-inner > header {
  width: 100%;
  z-index: 2;
  min-width: 20rem;
  transition: all .3s linear;
  position: absolute;
}

@media screen and (min-width: 40rem) {
  #page-inner > header {
    position: fixed;
    top: 0;
    left: 0;
  }
}

#page-inner > header .logo {
  font-family: LondrinaSolid, Arial, Helvetica, Roboto, sans-serif;
  color: #fff;
  font-size: 1.875rem;
  text-shadow: 0 2px #5a9da1;
  margin: 0.9375rem 0;
  transition: all .3s linear;
}

@media screen and (min-width: 40rem) {
  #page-inner > header .logo {
    font-size: 3rem;
  }
}

#page-inner > header .mobile-menu {
  display: block;
  color: #fff;
  text-shadow: 0 2px #5a9da1;
  position: absolute;
  right: 0.9375rem;
  top: 0.125rem;
  padding: 0.9375rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all .3s linear;
}

#page-inner > header .mobile-menu:hover {
  opacity: 0.7;
}

@media screen and (min-width: 40rem) {
  #page-inner > header .mobile-menu {
    font-size: 3rem;
    top: 0.3125rem;
  }
}

@media screen and (min-width: 61.25rem) {
  #page-inner > header .mobile-menu {
    display: none;
  }
}

#page-inner > header .menu {
  padding-top: 1.625rem;
  display: none;
  transition: all .3s linear;
}

@media screen and (min-width: 61.25rem) {
  #page-inner > header .menu {
    display: block;
  }
}

#page-inner > header .menu li a {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  display: block;
  padding: 0.5rem;
  text-shadow: 0 2px #5a9da1;
}

@media screen and (min-width: 40rem) {
  #page-inner > header.scroll {
    background: rgba(130, 189, 197, 0.9);
  }
  #page-inner > header.scroll .logo {
    margin: 0.625rem 0;
    font-size: 1.875rem;
  }
  #page-inner > header.scroll .mobile-menu {
    padding: 0.375rem;
    font-size: 2rem;
  }
  #page-inner > header.scroll .menu {
    padding-top: 0.6875rem;
  }
}

#page-inner > main {
  position: relative;
  z-index: 1;
}

#page-inner > main > section {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

#page-inner > footer {
  z-index: 2;
}

#page-inner > footer > section {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 2.1875rem 0 1.25rem;
  margin-top: 2.8125rem;
  position: relative;
  background: #fdfdfd;
}

#page-inner > footer > section:after {
  content: "";
  width: 100%;
  height: 2.8125rem;
  position: absolute;
  left: 0;
  top: -2.8125em;
  background: url("/static/images/paper.png");
  transform: rotate(180deg);
}

#page-inner > footer > section .footer-menu {
  text-align: center;
}

#page-inner > footer > section .footer-menu::before, #page-inner > footer > section .footer-menu::after {
  content: ' ';
  display: table;
}

#page-inner > footer > section .footer-menu::after {
  clear: both;
}

@media screen and (min-width: 40rem) {
  #page-inner > footer > section .footer-menu {
    float: left;
    text-align: left;
  }
}

#page-inner > footer > section .footer-menu > p {
  font-family: LondrinaSolid, Arial, Helvetica, Roboto, sans-serif;
  font-size: 0.8125rem;
  color: #5a9692;
  margin-bottom: 0.3125rem;
}

#page-inner > footer > section .footer-menu ul {
  display: inline-block;
}

#page-inner > footer > section .footer-menu ul li {
  float: left;
}

#page-inner > footer > section .footer-menu ul li a {
  display: block;
  color: #5a9692;
  margin-right: 0.4375rem;
  position: relative;
  font-size: 0.625rem;
}

#page-inner > footer > section .footer-menu ul li a:after {
  content: "|";
  position: absolute;
  right: -0.3125rem;
  top: 0;
  color: #5a9692;
}

#page-inner > footer > section .footer-menu ul li:last-child a:after {
  display: none;
}

#page-inner > footer > section .socials-btns {
  text-align: center;
}

@media screen and (min-width: 40rem) {
  #page-inner > footer > section .socials-btns {
    float: right;
    text-align: right;
  }
}

#page-inner > footer > section .socials-btns .google-plus {
  margin-top: 3px;
}

#page-inner > footer > section .socials-btns .facebook-btn {
  margin-bottom: 2px;
}

#page-inner > footer > section .socials-btns > div {
  display: inline-block;
  vertical-align: middle;
}

.center {
  text-align: center;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: BebasNeue, Arial, Helvetica, Roboto, sans-serif;
  color: #fff;
  text-shadow: 0 2px #5a9da1;
}

.h1.white, .h2.white, .h3.white, .h4.white, .h5.white, .h6.white {
  color: #5a9692;
  text-shadow: none;
}

.h1 {
  font-size: 2.625rem;
  line-height: 3.125rem;
}

@media screen and (min-width: 40rem) {
  .h1 {
    font-size: 4.5rem;
    line-height: 4.375rem;
  }
}

.h2 {
  font-size: 4.5rem;
  line-height: 4.375rem;
}

@media screen and (min-width: 40rem) {
  .h2 {
    font-size: 7.375rem;
    line-height: 6.875rem;
  }
}

.h3 {
  font-size: 3.9375rem;
}

@media screen and (min-width: 40rem) {
  .h3 {
    font-size: 6.75rem;
    line-height: 6.875rem;
  }
}

.h4 {
  font-size: 3.125rem;
}

@media screen and (min-width: 40rem) {
  .h4 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}

.h5 {
  font-size: 2.6875rem;
}

.h6 {
  font-size: 1.875rem;
}

.button {
  text-transform: uppercase;
  font-size: 1.375rem;
  border: 0.0625rem solid #c65653;
  text-shadow: 0 0.0625rem rgba(0, 0, 0, 0.25);
  line-height: 1.625rem;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.25);
}

#up {
  position: fixed;
  right: 1.25rem;
  bottom: -6.25rem;
  z-index: 3;
  display: none;
  transition: all .3s linear;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  background: url("/static/images/up.png") no-repeat;
  background-size: contain;
}

#up:hover {
  opacity: .6;
}

#up.show {
  bottom: 5rem;
}

@media screen and (min-width: 61.25rem) {
  #up {
    display: block;
  }
}

.form .input {
  background: #fff;
  border-radius: 0.25rem;
  border: 0.0625rem solid #4790a2;
  margin-bottom: 0.875rem;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.25);
}

.form input[type="text"], .form textarea {
  width: 100%;
  border: none;
  line-height: 3.375rem;
  padding: 0 0.75rem;
  background: transparent;
  font-style: italic;
  color: #7f7367;
  font-size: 0.75rem;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.form textarea {
  resize: none;
  min-height: 11.5rem;
}

#welcome {
  background: #82bdc5 url("/static/images/welcome.jpg") no-repeat;
  background-position: left top;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
}

@media screen and (min-width: 40rem) {
  #welcome {
    background-position: center top;
    padding-top: 6.25rem;
    padding-bottom: 3.125rem;
    min-height: 31.25rem;
  }
}

#welcome .main .text-container {
  text-align: center;
}

@media screen and (min-width: 61.25rem) {
  #welcome .main .text-container {
    float: right;
    text-align: left;
    display: inline-block;
  }
}

#welcome .main .text-container p.h1 {
  margin-top: 1.25rem;
}

#welcome .main .text-container p.text {
  font-size: 0.875rem;
  color: #224e59;
  max-width: 33.75rem;
  margin: 0 auto 3.125rem;
  text-shadow: 0 0.0625rem rgba(255, 255, 255, 0.25);
}

#welcome .main .text-container .button {
  position: relative;
}

#welcome .main .text-container .button:after {
  content: "";
  position: absolute;
  right: -6.25rem;
  top: -3rem;
  background-image: urL("/static/images/arrow.png");
  width: 4.5rem;
  height: 5.6875rem;
}

#features {
  padding: 2.8125rem 0 0.625rem;
  margin-bottom: 2.8125rem;
  position: relative;
  background: #fdfdfd;
}

#features:after {
  content: "";
  width: 100%;
  height: 2.8125rem;
  position: absolute;
  left: 0;
  bottom: -2.8125em;
  background: url("/static/images/paper.png");
}

#features [class^="icon-"], #features [class*=" icon-"] {
  color: #86bbc1;
}

#features .column {
  margin-bottom: 1.875rem;
}

@media screen and (min-width: 0) and (max-width: 40rem) {
  #features .column {
    text-align: center;
  }
}

@media screen and (min-width: 40rem) and (max-width: 61.25rem) {
  #features .column:nth-child(2n+1) {
    clear: both;
  }
}

@media screen and (min-width: 61.25rem) {
  #features .column:nth-child(3n+1) {
    clear: both;
  }
}

#features .title {
  margin-bottom: 0.625rem;
}

#features .title > i {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.25rem;
}

#features .title > i.icon-tools {
  font-size: 1.625rem;
}

#features .title > i.icon-flask {
  font-size: 2.1875rem;
}

#features .title > i.icon-heart {
  font-size: 1.25rem;
}

#features .title > i.icon-phone {
  font-size: 1.25rem;
}

#features .title > i.icon-game {
  font-size: 1.625rem;
}

#features .title > span {
  display: inline-block;
  vertical-align: middle;
  font-family: LondrinaSolid, Arial, Helvetica, Roboto, sans-serif;
  color: #5a9692;
  margin-left: 0.5rem;
  font-size: 1.375rem;
}

#features .description {
  color: #7e7e7e;
  font-size: 0.75rem;
  line-height: 1.0625rem;
}

#features .cloud-container {
  padding: 0 1.5rem;
  text-align: left;
}

#features .cloud-container .cloud {
  font-size: 0.6875rem;
  color: #518582;
  background: #e3ecb8;
  position: relative;
  padding: 0.9375rem 0.75rem;
  border-radius: 1rem;
  margin: 0 0.375rem;
}

#features .cloud-container .cloud:after {
  content: "";
  position: absolute;
  bottom: -0.9375rem;
  left: 1.625rem;
  background: url("/static/images/speeach.png") no-repeat;
  width: 2.5rem;
  height: 0.9375rem;
}

#features .cloud-container .twitter {
  margin-top: 0.375rem;
  font-size: 1.25rem;
}

#portfolio {
  padding: 2.8125rem 0;
  position: relative;
}

#portfolio .headline {
  font-size: 0;
}

#portfolio .headline .column {
  float: none;
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 61.25rem) {
  #portfolio .headline .column {
    text-align: left;
  }
}

#portfolio .headline .column.title {
  vertical-align: top;
}

#portfolio .headline .column.description {
  vertical-align: bottom;
  font-size: 0.875rem;
  color: #fff;
  text-shadow: 0.0625rem 0 #5a9da1;
  line-height: 1.125rem;
  padding-bottom: 1.25rem;
}

#portfolio .slider {
  overflow: hidden;
}

#portfolio .slider .slider-container {
  white-space: nowrap;
  font-size: 0;
  transition: all .3s linear;
  margin: 0rem -1.125rem;
}

#portfolio .slider .slider-container .slide-row {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  white-space: normal;
}

@media screen and (min-width: 40rem) {
  #portfolio .slider .slider-container .slide-row {
    white-space: nowrap;
  }
}

#portfolio .slider .slider-container .slide {
  display: inline-block;
  vertical-align: top;
  font-size: 0.875rem;
  padding: 1.125rem;
  width: 100%;
}

@media screen and (min-width: 40rem) {
  #portfolio .slider .slider-container .slide {
    width: 33.3%;
  }
}

#portfolio .slider .slider-container .slide > .info {
  background: #f5f1e6;
  padding: 1.125rem 1.125rem 0.625rem;
  position: relative;
  white-space: normal;
  border-radius: 0.25rem;
}

#portfolio .slider .slider-container .slide > .info .description {
  text-align: center;
}

@media screen and (min-width: 61.25rem) {
  #portfolio .slider .slider-container .slide > .info .description {
    text-align: left;
    padding-right: 7.5rem;
    min-height: 12.5rem;
  }
}

#portfolio .slider .slider-container .slide > .info .description .title {
  font-family: LondrinaSolid, Arial, Helvetica, Roboto, sans-serif;
  color: #9aac49;
  font-size: 1.375rem;
  margin-bottom: 0.625rem;
}

#portfolio .slider .slider-container .slide > .info .description .text {
  color: #7e7e7e;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

#portfolio .slider .slider-container .slide > .info .preview {
  margin: 0 auto;
  width: 6.75rem;
  right: 1.125rem;
  top: 1.125rem;
  text-align: center;
  margin-top: 1.25rem;
}

@media screen and (min-width: 61.25rem) {
  #portfolio .slider .slider-container .slide > .info .preview {
    position: absolute;
    margin-top: 0rem;
  }
}

#portfolio .slider .slider-container .slide > .info .preview .photo {
  background: #ffd36a;
  border-radius: 1rem;
  border: 0.0625rem solid #f2b857;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 1.25rem;
}

#portfolio .slider .slider-container .slide > .info .preview .button {
  font-size: 1.125rem;
}

#portfolio .slider .slider-container .slide .store {
  padding: 1.125rem;
  border-top: 0.0625rem solid #e0dcd1;
  background: #f5f1e6;
  min-height: 4.625rem;
}

#portfolio .slider .slider-container .slide .store::before, #portfolio .slider .slider-container .slide .store::after {
  content: ' ';
  display: table;
}

#portfolio .slider .slider-container .slide .store::after {
  clear: both;
}

#portfolio .slider .slider-container .slide .store .app-store, #portfolio .slider .slider-container .slide .store .google-store {
  width: 7.25rem;
  height: 2.5rem;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .3s linear;
  max-width: 45%;
}

#portfolio .slider .slider-container .slide .store .app-store:hover, #portfolio .slider .slider-container .slide .store .google-store:hover {
  opacity: .5;
}

#portfolio .slider .slider-container .slide .store .app-store {
  background-image: url("/static/images/app_store.png");
  float: left;
}

#portfolio .slider .slider-container .slide .store .google-store {
  background-image: url("/static/images/google_store.png");
  float: right;
}

#portfolio .pagination-container {
  text-align: center;
}

#portfolio .pagination-container .pagination {
  display: inline-block;
}

#portfolio .pagination-container .pagination > div {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.3125rem;
  font-size: 0;
  display: inline-block;
  transition: all .3s;
  cursor: pointer;
  position: relative;
}

#portfolio .pagination-container .pagination > div:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #f0f0e7;
  border-radius: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

#portfolio .pagination-container .pagination > div.current:before {
  background: #e55b58;
}

#portfolio .pagination-container .pagination > div:hover:before {
  width: 1.5rem;
  height: 1.5rem;
  left: -0.125rem;
  top: -0.125rem;
}

#team {
  padding: 2.8125rem 0;
  margin-bottom: 2.8125rem;
  position: relative;
  background: #fdfdfd;
}

#team:after {
  content: "";
  width: 100%;
  height: 2.8125rem;
  position: absolute;
  left: 0;
  bottom: -2.8125em;
  background: url("/static/images/paper.png");
}

#team .column {
  text-align: center;
}

@media screen and (min-width: 61.25rem) {
  #team .column {
    text-align: left;
  }
  #team .column:nth-child(2n+1) {
    clear: both;
  }
}

#team .person {
  font-size: 0;
  margin: 1.25rem auto;
}

#team .person .avatar {
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  border: 0.0625rem solid #5d8c90;
  background: #7fbcbe;
  position: relative;
  border-radius: 12.5rem;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 1px 5px 0px rgba(255, 255, 255, 0.25);
}

@media screen and (min-width: 40rem) {
  #team .person .avatar {
    display: inline-block;
    vertical-align: middle;
  }
}

@media screen and (min-width: 61.25rem) {
  #team .person .avatar {
    width: 42%;
    padding-bottom: 42%;
  }
}

#team .person .avatar > div {
  position: absolute;
  left: 3%;
  top: 3%;
  width: 94%;
  height: 94%;
  background: #fff;
  border-radius: 12.5rem;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#team .person .avatar > div:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 12.5rem;
  border-radius: 50%;
  border: 0.0625rem solid #5d8c90;
}

#team .person .info {
  padding-top: 0.625rem;
}

@media screen and (min-width: 40rem) {
  #team .person .info {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding-left: 1.25rem;
    text-align: left;
  }
}

@media screen and (min-width: 61.25rem) {
  #team .person .info {
    width: 58%;
  }
}

#team .person .info p {
  font-size: 1rem;
}

#team .person .info p.fullname {
  font-family: LondrinaSolid, Arial, Helvetica, Roboto, sans-serif;
  color: #5a9692;
  font-size: 1.5rem;
}

#team .person .info p.position {
  font-family: LondrinaSolid, Arial, Helvetica, Roboto, sans-serif;
  color: #9aac49;
  font-size: 1.125rem;
}

#team .person .info p.description {
  color: #7e7e7e;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
}

#team .person .info .socials {
  font-size: 1.25rem;
}

#team .person .info .socials i.icon-linkedin {
  color: #224e59;
}

#team .person .info .socials i.icon-facebook {
  color: #7bb7bf;
}

#team .person .info .socials i.icon-twitter-2 {
  color: #acdcd9;
}

#team .person .info .socials i.icon-dribbble {
  color: #f5989d;
}

#team .person .info .socials i.icon-forrst {
  color: #9aac49;
}

#contact {
  padding: 2.8125rem 0;
  margin-top: 2.8125rem;
  position: relative;
}

#contact .headline {
  font-size: 0;
}

#contact .headline .column {
  float: none;
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 61.25rem) {
  #contact .headline .column {
    text-align: left;
  }
}

#contact .headline .column.title {
  vertical-align: top;
}

#contact .headline .column.description {
  vertical-align: bottom;
  font-size: 0.875rem;
  color: #fff;
  text-shadow: 0.0625rem 0 #5a9da1;
  line-height: 1.125rem;
  padding-bottom: 1.25rem;
}

#contact .form .form-bottom {
  position: relative;
}

#contact .form .form-bottom .input {
  width: 4.375rem;
  text-align: center;
}

@media screen and (min-width: 40rem) {
  #contact .form .form-bottom .input {
    position: absolute;
  }
}

#contact .form .form-bottom .input input {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0.625rem;
}

#contact .form .form-bottom p {
  font-size: 0.625rem;
  color: #fff;
  padding-top: 1rem;
}

@media screen and (min-width: 40rem) {
  #contact .form .form-bottom p {
    padding-left: 5.375rem;
  }
}

#contact .form button.button {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

#contact .slider {
  overflow: hidden;
  margin-top: 1.875rem;
}

@media screen and (min-width: 40rem) {
  #contact .slider {
    margin-top: 0;
  }
}

#contact .slider .slider-container {
  white-space: nowrap;
  font-size: 0;
  transition: all .3s linear;
  margin: 0rem -1.125rem;
}

#contact .slider .slider-container .slide-row {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  white-space: normal;
}

@media screen and (min-width: 40rem) {
  #contact .slider .slider-container .slide-row {
    white-space: nowrap;
  }
}

#contact .slider .slider-container .slide {
  font-size: 0.875rem;
  padding: 0 1.125rem;
  width: 100%;
}

#contact .slider .slider-container .slide > div {
  background: #fbfbfb;
  margin-bottom: 0.75rem;
  padding: 0.9375rem;
  white-space: normal;
  border-radius: 0.25rem;
}

#contact .slider .slider-container .slide .headline {
  font-size: 0;
  margin-bottom: 0.625rem;
}

#contact .slider .slider-container .slide .headline .title {
  color: #5a9692;
  font-family: LondrinaSolid, Arial, Helvetica, Roboto, sans-serif;
  font-size: 1.5rem;
}

@media screen and (min-width: 61.25rem) {
  #contact .slider .slider-container .slide .headline .title {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
  }
}

#contact .slider .slider-container .slide .headline .date {
  font-size: 0.6875rem;
  color: #959595;
}

@media screen and (min-width: 61.25rem) {
  #contact .slider .slider-container .slide .headline .date {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
}

#contact .slider .slider-container .slide p {
  color: #7e7e7e;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

#contact .pagination-container {
  text-align: right;
  padding-right: 1.25rem;
}

#contact .pagination-container p {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 0.6875rem;
  text-shadow: 0.0625rem 0 rgba(255, 255, 255, 0.25);
  font-style: italic;
  margin-right: 0.4375rem;
}

#contact .pagination-container .arrow {
  display: inline-block;
  vertical-align: middle;
  color: #444444;
  text-shadow: 0.0625rem 0 rgba(255, 255, 255, 0.25);
  font-size: 0.5625rem;
  cursor: pointer;
}

#contact .pagination-container .arrow:hover {
  color: #fff;
}

#contact .pagination-container .pagination {
  display: inline-block;
}

#contact .pagination-container .pagination > div {
  display: inline-block;
  transition: all .3s;
  cursor: pointer;
  position: relative;
  color: #444444;
  text-shadow: 0.0625rem 0 rgba(255, 255, 255, 0.25);
  font-size: 0.6875rem;
  margin: 0 0.4375rem;
  vertical-align: middle;
}

#contact .pagination-container .pagination > div.current {
  color: #fff;
}

#contact .pagination-container .pagination > div:hover {
  text-decoration: underline;
}
