#contact { padding: px-to-rem(45) 0; margin-top: px-to-rem(45); position: relative;
  .headline { font-size: 0;
    .column { float: none; display: inline-block; text-align: center;
      @include breakpoint(large-up) { text-align: left; }
      &.title { vertical-align: top; }
      &.description { vertical-align: bottom; font-size: px-to-rem(14); color: #fff;
        text-shadow: px-to-rem(1) 0 $shadow; line-height: px-to-rem(18);
        padding-bottom: px-to-rem(20);
      }
    }
  }
  .form {
    .form-bottom { position: relative;
      .input { width: px-to-rem(70); text-align: center;
        @include breakpoint(medium-up) {
          position: absolute;
        }
        input { text-align: center;  padding-left: 0; padding-right: 0; margin-bottom: px-to-rem(10); }
      }
      p { font-size: px-to-rem(10); color: #fff; padding-top: px-to-rem(16);
        @include breakpoint(medium-up) {
          padding-left: px-to-rem(86);
        }
      }
    }
    button.button { padding-left: px-to-rem(30); padding-right: px-to-rem(30); }
  }
  .slider { overflow: hidden; margin-top: px-to-rem(30);
    @include breakpoint(medium-up) { margin-top: 0; }
    .slider-container { white-space: nowrap; font-size: 0; transition: all .3s linear;
      margin: px-to-rem(0) px-to-rem(-18);
      .slide-row { display: inline-block; width: 100%;  vertical-align: top; white-space: normal;
        @include breakpoint(medium-up) {
          white-space: nowrap;
        }
      }
      .slide { font-size: px-to-rem(14); padding: 0 px-to-rem(18); ;
        width: 100%;
        > div { background: #fbfbfb; margin-bottom: px-to-rem(12); padding: px-to-rem(15);
          white-space: normal; border-radius: px-to-rem(4);
        }
        .headline { font-size: 0; margin-bottom: px-to-rem(10);
          .title { color: $primary;
            @include breakpoint(large-up) { width: 70%;  display: inline-block; vertical-align: middle;  }
            font-family: $font-family-londrina-solid; font-size: px-to-rem(24);
          }
          .date {
            font-size: px-to-rem(11); color: #959595;
            @include breakpoint(large-up) { width: 30%;  display: inline-block; vertical-align: middle;  text-align: right; }
          }
        }
        p { color: #7e7e7e; font-size: px-to-rem(12); line-height: px-to-rem(18); }
      }
    }
  }
  .pagination-container { text-align: right; padding-right: px-to-rem(20);
    p { display: inline-block; vertical-align: middle; color: #fff;
      font-size: px-to-rem(11); text-shadow: px-to-rem(1) 0 rgba(255, 255, 255, .25);
      font-style: italic; margin-right: px-to-rem(7);
    }
    .arrow { display: inline-block; vertical-align: middle; color: #444444;
      text-shadow: px-to-rem(1) 0 rgba(255, 255, 255, .25);
      font-size: px-to-rem(9); cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
    .pagination { display: inline-block;
      > div { display: inline-block; transition: all .3s; cursor: pointer; position: relative;
          color: #444444; text-shadow: px-to-rem(1) 0 rgba(255, 255, 255, .25); font-size: px-to-rem(11);
        margin: 0 px-to-rem(7);  vertical-align: middle;
        &.current { color: #fff; }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}