#features { padding: px-to-rem(45) 0 px-to-rem(10);
  @include paper-bottom;
  [class^="icon-"], [class*=" icon-"] { color: #86bbc1; }
  .column { margin-bottom: px-to-rem(30);
    @include breakpoint(small-only) { text-align: center; }
    @include breakpoint(medium-only) {
      &:nth-child(2n+1) { clear: both; }
    }
    @include breakpoint(large-up) {
      &:nth-child(3n+1) { clear: both; }
    }
  }
  .title { margin-bottom: px-to-rem(10);
    > i {  display: inline-block; vertical-align: middle; line-height: px-to-rem(36);
      &.icon-tools { font-size: px-to-rem(26); }
      &.icon-flask { font-size: px-to-rem(35); }
      &.icon-heart { font-size: px-to-rem(20); }
      &.icon-phone { font-size: px-to-rem(20); }
      &.icon-game { font-size: px-to-rem(26); }
    }
    > span { display: inline-block; vertical-align: middle; font-family: $font-family-londrina-solid;
      color: $primary; margin-left: px-to-rem(8); font-size: px-to-rem(22);
    }
  }
  .description { color: #7e7e7e; font-size: px-to-rem(12); line-height: px-to-rem(17); }
  .cloud-container { padding: 0 px-to-rem(24); text-align: left;
    .cloud { font-size: px-to-rem(11); color: #518582; background: #e3ecb8; position: relative;
      padding: px-to-rem(15) px-to-rem(12); border-radius: px-to-rem(16); margin: 0 px-to-rem(6);
      &:after { content: ""; position: absolute; bottom: px-to-rem(-15); left: px-to-rem(26);
        background: url('/static/images/speeach.png') no-repeat; width: px-to-rem(40);
        height: px-to-rem(15);
      }
    }
    .twitter { margin-top: px-to-rem(6); font-size: px-to-rem(20);}
  }
}