#portfolio { padding: px-to-rem(45) 0; position: relative;
  .headline { font-size: 0;
    .column { float: none; display: inline-block; text-align: center;
      @include breakpoint(large-up) { text-align: left; }
      &.title { vertical-align: top; }
      &.description { vertical-align: bottom; font-size: px-to-rem(14); color: #fff;
        text-shadow: px-to-rem(1) 0 $shadow; line-height: px-to-rem(18);
        padding-bottom: px-to-rem(20);
      }
    }
  }
  .slider { overflow: hidden;
    .slider-container { white-space: nowrap; font-size: 0; transition: all .3s linear;
      margin: px-to-rem(0) px-to-rem(-18);
      .slide-row { display: inline-block; width: 100%;  vertical-align: top; white-space: normal;
        @include breakpoint(medium-up) {
          white-space: nowrap;
        }
      }
      .slide {  display: inline-block; vertical-align: top; font-size: px-to-rem(14); padding: px-to-rem(18);
        width: 100%;
        @include breakpoint(medium-up) { width: 33.3%; }
        > .info { background: #f5f1e6; padding: px-to-rem(18) px-to-rem(18) px-to-rem(10); position: relative;
          white-space: normal;  border-radius: px-to-rem(4);
          .description { text-align: center;
            @include breakpoint(large-up) { text-align: left;
              padding-right: px-to-rem(120); min-height: px-to-rem(200);
            }
            .title { font-family: $font-family-londrina-solid; color: #9aac49; font-size: px-to-rem(22);
              margin-bottom: px-to-rem(10);
            }
            .text { color: #7e7e7e; font-size: px-to-rem(12); line-height: px-to-rem(18); }
          }
          .preview {  margin: 0 auto; width: px-to-rem(108); right: px-to-rem(18); top: px-to-rem(18);
            text-align: center; margin-top: px-to-rem(20);
            @include breakpoint(large-up) {
              position: absolute; margin-top: px-to-rem(0);
            }
            .photo { background: #ffd36a; border-radius: px-to-rem(16); border: px-to-rem(1) solid #f2b857;
              height: 0; padding-bottom: 100%; margin-bottom: px-to-rem(20);
            }
            .button { font-size: px-to-rem(18); }
          }
        }
        .store { padding: px-to-rem(18); border-top: px-to-rem(1) solid #e0dcd1; background: #f5f1e6;
          min-height: px-to-rem(74); @include clearfix;
          .app-store, .google-store { width: px-to-rem(116); height: px-to-rem(40); cursor: pointer;
            background-position: center; background-repeat: no-repeat; background-size: contain;
            transition: all .3s linear; max-width: 45%;
            &:hover { opacity: .5; }
          }
          .app-store { background-image: url('/static/images/app_store.png'); float: left; }
          .google-store { background-image: url('/static/images/google_store.png'); float: right; }
        }
      }
    }
  }
  .pagination-container { text-align: center;
    .pagination { display: inline-block;
      > div { width: px-to-rem(20); height: px-to-rem(20);  margin: px-to-rem(5); font-size: 0;
        display: inline-block; transition: all .3s; cursor: pointer; position: relative;
        &:before { content: ""; position: absolute; left: 0; top: 0;
          background: #f0f0e7;  border-radius: px-to-rem(20); width: px-to-rem(20); height: px-to-rem(20);
          -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
        }
        &.current {
          &:before{ background: #e55b58;}
        }
        &:hover {
          &:before { width: px-to-rem(24); height: px-to-rem(24); left: px-to-rem(-2); top: px-to-rem(-2); }
        }
      }
    }
  }
}