#team { padding: px-to-rem(45) 0;
  @include paper-bottom;
  .column { text-align: center;
    @include breakpoint(large-up) {text-align: left;
      &:nth-child(2n+1) { clear: both; }
    }
  }
  .person { font-size: 0; margin: px-to-rem(20) auto;
    .avatar { width: 30%; height: 0; padding-bottom: 30%; border: px-to-rem(1) solid #5d8c90; background: #7fbcbe;
      position: relative; border-radius: px-to-rem(200); border-radius: 50%; margin: 0 auto;
      -webkit-box-shadow: inset 0px 1px 5px 0px rgba(255,255,255,0.25);
      -moz-box-shadow: inset 0px 1px 5px 0px rgba(255,255,255,0.25);
      box-shadow: inset 0px 1px 5px 0px rgba(255,255,255,0.25);
      @include breakpoint(medium-up) { display: inline-block; vertical-align: middle; }
      @include breakpoint(large-up) { width: 42%; padding-bottom: 42%; }
      > div { position: absolute; left: 3%; top: 3%; width: 94%; height: 94%; background: #fff;
        border-radius: px-to-rem(200); border-radius: 50%; background-size: cover;
        background-repeat: no-repeat; background-position: center;
        &:after { position: absolute; left: 0; top: 0; width: 100%; height: 100%; content: "";
          border-radius: px-to-rem(200); border-radius: 50%; border: px-to-rem(1) solid #5d8c90;
        }
      }
    }
    .info { padding-top: px-to-rem(10);
      @include breakpoint(medium-up) { display: inline-block; vertical-align: middle; width: 70%;  padding-left: px-to-rem(20);
        text-align: left;
      }
      @include breakpoint(large-up) { width: 58%; }
      p { font-size: px-to-rem(16);
        &.fullname { font-family: $font-family-londrina-solid; color: $primary; font-size: px-to-rem(24); }
        &.position { font-family: $font-family-londrina-solid; color: #9aac49; font-size: px-to-rem(18); }
        &.description { color: #7e7e7e; font-size: px-to-rem(12); margin-top: px-to-rem(8); line-height: px-to-rem(18);
          margin-bottom: px-to-rem(8);
        }
      }
      .socials { font-size: px-to-rem(20);
        i {
          &.icon-linkedin { color: #224e59; }
          &.icon-facebook { color: #7bb7bf; }
          &.icon-twitter-2 { color: #acdcd9; }
          &.icon-dribbble { color: #f5989d; }
          &.icon-forrst { color: #9aac49; }
        }

      }
    }
  }
}