#welcome {
  background: $secondary url('/static/images/welcome.jpg') no-repeat;
  background-position: left top;
  padding-top: px-to-rem(80); padding-bottom: px-to-rem(30);
  @include breakpoint(medium-up) {
    background-position: center top;
    padding-top: px-to-rem(100); padding-bottom: px-to-rem(50); min-height: px-to-rem(500);
  }
  .main {
    .text-container {  text-align: center;
      @include breakpoint(large-up) { float: right; text-align: left; display: inline-block; }
      p.h1 { margin-top: px-to-rem(20); }
      p.text {  font-size: px-to-rem(14); color: $text; max-width: px-to-rem(540);
        margin: 0 auto px-to-rem(50); text-shadow: 0 px-to-rem(1) rgba(255, 255, 255, 0.25);
      }
      .button { position: relative;
        &:after { content: ""; position: absolute; right: px-to-rem(-100); top: px-to-rem(-48);
          background-image: urL('/static/images/arrow.png'); width: px-to-rem(72);
          height: px-to-rem(91);
        }
      }
    }
  }
}