@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ot258x');
  src:  url('fonts/icomoon.eot?ot258x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ot258x') format('truetype'),
    url('fonts/icomoon.woff?ot258x') format('woff'),
    url('fonts/icomoon.svg?ot258x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
  content: "\e900";
  color: #f5989d;
}
.icon-facebook:before {
  content: "\e901";
  color: #7bb7bf;
}
.icon-flask:before {
  content: "\e902";
  color: #fff;
}
.icon-forrst:before {
  content: "\e903";
  color: #9aac49;
}
.icon-game:before {
  content: "\e904";
  color: #86bbc1;
}
.icon-heart:before {
  content: "\e905";
  color: #fff;
}
.icon-linkedin:before {
  content: "\e906";
  color: #224e59;
}
.icon-phone:before {
  content: "\e907";
  color: #fff;
}
.icon-tools:before {
  content: "\e908";
  color: #fff;
}
.icon-twitter:before {
  content: "\e909";
  color: #95c5c4;
}
.icon-twitter-2:before {
  content: "\e90a";
  color: #acdcd9;
}
.icon-menu:before {
  content: "\e90b";
}
