@font-face {
  font-family: 'BebasNeue';
  src: url('/static/font/BebasNeue.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LondrinaSolid';
  src: url('/static/font/LondrinaSolid-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/static/font/icomoon.eot?lyw9g2');
  src:  url('/static/font/icomoon.eot?lyw9g2#iefix') format('embedded-opentype'),
  url('/static/font/icomoon.ttf?lyw9g2') format('truetype'),
  url('/static/font/icomoon.woff?lyw9g2') format('woff'),
  url('/static/font/icomoon.svg?lyw9g2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
