.form {
  .input { background: #fff; border-radius: px-to-rem(4);
    border: px-to-rem(1) solid #4790a2; margin-bottom: px-to-rem(14);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(255,255,255,0.25);
    -moz-box-shadow: 0px 1px 5px 0px rgba(255,255,255,0.25);
    box-shadow: 0px 1px 5px 0px rgba(255,255,255,0.25);
  }
  input[type="text"], textarea { width: 100%; border: none;
    line-height: px-to-rem(54); padding: 0 px-to-rem(12);
    background: transparent; font-style: italic; color: #7f7367;
    font-size: px-to-rem(12);


    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.25);
  }
  textarea { resize: none; min-height: px-to-rem(184); }
}