body { margin: 0; font-family: Arial, Helvetica, Roboto, sans-serif; min-width: px-to-rem(320); background: $secondary;
  #mobile-navigation { position: fixed; top: 0; left: 100%; width: 100%; height: 100%; opacity: 0; z-index: 2;
    transition: all .3s linear; min-width: px-to-rem(320);
    > div { position: relative; width: 100%; height: 100%;
      .overlay { background: rgba(0, 0, 0, .6); position: fixed; left: 0; top: 0; width: 0; height: 100%;
        overflow: hidden;
      }
      ul { position: absolute; right: 0; top: 0; width: 40%; min-width: px-to-rem(280); height: 100%;
        background: $background;
        li { display: block; float: none;
          a { display: block; padding: px-to-rem(12) px-to-rem(18); color: $primary;
            font-family: $font-family-bebes-neue; font-size: px-to-rem(22);
            &:hover { background: $primary; color: #fff; }
          }
        }
      }
    }
  }
  &.open-menu { position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden;
    #mobile-navigation { left: 0; opacity: 1;
      > div {
        .overlay { width: 100%; }
      }
    }
  }
}
.left { float: left; }
.right { float: right; }
.uppercase { text-transform: uppercase; }

ul { list-style: none; margin: 0; padding: 0;
  li { float: left; }
}

a { text-decoration: none; }

#page-inner { min-width: px-to-rem(320); position: relative; z-index: 1;
  > header { width: 100%; z-index: 2;  min-width: px-to-rem(320); transition: all .3s linear;
    position: absolute;
    @include breakpoint(medium-up) {  position: fixed; top: 0; left: 0; }
    .logo { font-family: $font-family-londrina-solid;  color: #fff; font-size: px-to-rem(30);
      text-shadow: 0 2px $shadow; margin: px-to-rem(15) 0; transition: all .3s linear;
      @include breakpoint(medium-up) { font-size: px-to-rem(48); }
    }
    .mobile-menu { display: block; color: #fff; text-shadow: 0 2px $shadow; position: absolute; right: px-to-rem(15);
      top: px-to-rem(2); padding: px-to-rem(15); font-size: px-to-rem(32); cursor: pointer; transition: all .3s linear;
      &:hover { opacity: 0.7; }
      @include breakpoint(medium-up) { font-size: px-to-rem(48); top: px-to-rem(5); }
      @include breakpoint(large-up) { display: none; }
    }
    .menu { padding-top: px-to-rem(26); display: none; transition: all .3s linear;
      @include breakpoint(large-up) { display: block; }
      li {
        a { color: #fff; font-weight: 600; font-size: px-to-rem(16); display: block; padding: px-to-rem(8);
          text-shadow: 0 2px $shadow;
        }
      }
    }
    &.scroll {
      @include breakpoint(medium-up) { background: rgba(130, 189, 197, .9); // 130 189 197
        .logo {  margin: px-to-rem(10) 0; font-size: px-to-rem(30);  }
        .mobile-menu { padding: px-to-rem(6); font-size: px-to-rem(32); }
        .menu { padding-top: px-to-rem(11); }
      }
    }
  }
  > main { position: relative; z-index: 1;
    > section { max-width: px-to-rem(1200); margin-left: auto; margin-right: auto; }
  }
  > footer {  z-index: 2;
    > section { max-width: px-to-em(1200); margin-left: auto; margin-right: auto; padding: px-to-rem(35) 0 px-to-rem(20);
      @include paper-top;
      .footer-menu { text-align: center; @include clearfix;
        @include breakpoint(medium-up) { float: left; text-align: left; }
        > p { font-family: $font-family-londrina-solid; font-size: px-to-rem(13); color: $primary;
          margin-bottom: px-to-rem(5);
        }
        ul { display: inline-block;;
          li { float: left;
            a { display: block; color: $primary; margin-right: px-to-rem(7); position: relative;
              font-size: px-to-rem(10);
              &:after { content: "|"; position: absolute; right: px-to-rem(-5); top: 0; color: $primary; }
            }
            &:last-child {
              a {
                &:after { display: none; }
              }
            }
          }
        }
      }
      .socials-btns { text-align: center;
        @include breakpoint(medium-up) { float: right; text-align: right; }
        .google-plus { margin-top: 3px;}
        .facebook-btn { margin-bottom: 2px;}
        > div { display: inline-block; vertical-align: middle; }
      }
    }
  }
}

.center { text-align: center; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-bebes-neue; color: #fff; text-shadow: 0 2px $shadow;
  &.white { color: $primary; text-shadow: none; }
}

.h1 { font-size: px-to-rem(42); line-height: px-to-rem(50);
  @include breakpoint(medium-up) {
    font-size: px-to-rem(72); line-height: px-to-rem(70);
  }
}
.h2 { font-size: px-to-rem(72); line-height: px-to-rem(70);
  @include breakpoint(medium-up) {
    font-size: px-to-rem(118); line-height: px-to-rem(110);
  }
}
.h3 { font-size: px-to-rem(63);
  @include breakpoint(medium-up) {
    font-size: px-to-rem(108); line-height: px-to-rem(110);
  }
}
.h4 { font-size: px-to-rem(50);
  @include breakpoint(medium-up) {
    font-size: px-to-rem(88); line-height: px-to-rem(88);
  }
}
.h5 { font-size: px-to-rem(43); }
.h6 { font-size: px-to-rem(30); }

.button { text-transform: uppercase; font-size: px-to-rem(22); border: px-to-rem(1) solid #c65653;
  text-shadow: 0 px-to-rem(1) rgba(0,0,0,.25); line-height: px-to-rem(26);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.25);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.25);
}

#up { position: fixed; right: px-to-rem(20); bottom: px-to-rem(-100); z-index: 3; display: none;
  transition: all .3s linear; cursor: pointer;
  width: px-to-rem(80); height: px-to-rem(80); background: url('/static/images/up.png') no-repeat;
  background-size: contain;
  &:hover { opacity: .6; }
  &.show { bottom: px-to-rem(80); }
  @include breakpoint(large-up) { display: block; }
}