
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-flask:before {
  content: "\e902";
}
.icon-forrst:before {
  content: "\e903";
}
.icon-game:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-tools:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-twitter-2:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90b";
}
