@mixin paper-bottom {
  margin-bottom: px-to-rem(45); position: relative; background: $backgroundWhite;
  &:after { content: ""; width: 100%; height: px-to-rem(45); position: absolute; left: 0; bottom: px-to-em(-45);
    background: url('/static/images/paper.png');
  }
}

@mixin paper-top {
  margin-top: px-to-rem(45); position: relative; background: $backgroundWhite;
  &:after { content: ""; width: 100%; height: px-to-rem(45); position: absolute; left: 0; top: px-to-em(-45);
    background: url('/static/images/paper.png'); transform: rotate(180deg);
  }
}