// util
@import "util/util";
// gui
@import "gui/color";
@import "gui/typography";
@import "gui/reset";
@import "gui/grid";
// components
@import "components/button";

$breakpoints: (
        small: 0,
        medium: px-to-rem(640px),
        large: px-to-rem(980px),
        xlarge: px-to-rem(1200px),
        xxlarge: px-to-rem(1440px),
);

$shadow: #5a9da1;
$background: #fcfcfc;
$backgroundWhite: #fdfdfd;
$primary: #5a9692;
$secondary: #82bdc5;
$text: #224e59;

$colors-palette: (
        background: $background,
        primary: $primary,
        secondary: $secondary,
        tertiary: #9aac49,
        success: #33a15b,
        danger: #e55b58,
        warning: #d9b514,
        info: #44a0c5
);

$grid-max-width: px-to-rem(980);
$default-font-size: px-to-rem(16);

@include color;
@include grid;
@include reset;
// @include typography;

@import "font";
$font-family-bebes-neue: BebasNeue, Arial, Helvetica, Roboto, sans-serif !global;
$font-family-londrina-solid: LondrinaSolid, Arial, Helvetica, Roboto, sans-serif !global;

// components
$button-font-family: $font-family-londrina-solid;
$button-font-size: px-to-rem(22) !default;
$button-padding: px-to-rem(16) px-to-rem(18) !default;
$button-radius: px-to-rem(6) !default;
@include button;

// dedicated
@import "icons";
@import "mixin";
@import "gui";
@import "form";

// sections
@import "section/welcome";
@import "section/features";
@import "section/portfolio";
@import "section/team";
@import "section/contact";

